<% layout( "/layouts/biolerplate") %>

<!-- Add Listing Form -->
<div class="container EditContainer">
  
  <%- include('../includes/flash') %>
  <div class="listing-form">
    <h4>Add Your Home</h4>
    <form class="needs-validation" action="/listings" method="POST" novalidate>
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          id="title"
          name="listing[title]"
          class="form-control"
          placeholder="Give your space a catchy title"
          required
        />
        <div class="invalid-feedback">Please enter title</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          id="description"
          name="listing[description]"
          rows="3"
          class="form-control"
          placeholder="Share some details about your place"
          required
        ></textarea>
        <div class="invalid-feedback">Write short description</div>
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Image Link</label>
        <input
          type="text"
          id="image"
          name="listing[image]"
          class="form-control"
          placeholder="Paste your image link here"
        />
      </div>

      <div class="mb-3 row">
        <div class="form-group col-md-6">
          <label for="price" class="form-label">Price</label>
          <div class="input-group">
            <span class="input-group-text">&#x20B9;</span>
            <input
              type="number"
              class="form-control"
              id="price"
              name="listing[price]"
              placeholder="2500"
              required
            />
            <div class="invalid-feedback">Please valid price</div>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="country" class="form-label">Country</label>
          <input
            type="text"
            id="country"
            name="listing[country]"
            class="form-control"
            placeholder="India"
            required
            
          />
          <div class="invalid-feedback">Please enter valid country</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          id="location"
          name="listing[location]"
          class="form-control"
          placeholder="Jaipur, Rajasthan"
          required
        />
        <div class="invalid-feedback">Please enter a valid location.</div>
      </div>

      <button type="submit" class="btn newbtn btn-primary w-100">Submit</button>
    </form>
  </div>
</div>

<!-- <script src="/js/script.js"></script> -->
