<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Welcome to Dice Game</h1>

    <h3> Dice Value is: <%= num %> </h3>
    
        <% if (num == 6) { %>
            <h4></h4>Nice! Roll dice again.</h4>
        <% } %>    
    


    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis numquam voluptates alias temporibus iure, voluptatum laborum consectetur maxime rerum asperiores! Fuga, ad vitae! Aperiam atque tempore expedita et vel. Officia!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis voluptas placeat excepturi at odio facilis minus explicabo! Voluptatum hic odio, dicta velit maiores perspiciatis quisquam id fugiat, error repudiandae temporibus?
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius quas natus aliquam alias fugit quisquam! Rem quidem rerum tempore! Amet autem aliquam culpa optio eum laborum odit accusamus beatae facere. Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, maxime iure error, reprehenderit suscipit ad porro ducimus fugiat blanditiis veniam aliquam optio dolorem magnam assumenda ullam sapiente, a quasi voluptatum!
    </p>
    
</body>
</html>