<footer class="text-center mt-5 py-4" style="background-color: #e9ecef;">
  <div>
    <a href="#" class="mx-2 text-dark"><i class="fab fa-facebook-f"></i></a>
    <a href="#" class="mx-2 text-dark"><i class="fab fa-instagram"></i></a>
    <a href="#" class="mx-2 text-dark"><i class="fab fa-linkedin-in"></i></a>
  </div>
  <div class="mt-2">
    &copy; FeelLikeHome Private Limited
  </div>
  <div class="mt-1">
    <a href="#" class="text-dark mx-1">Privacy</a> |
    <a href="#" class="text-dark mx-1">Terms</a>
  </div>
</footer>
