h1{
    color: black;
}
.gallery{
    width: 30%;
    height: 700px;
    display: flex;
    gap: 10px;
    margin-left: 30%;
    margin-top: 5%;
}
.gallery img{
    width: 10%;
    height:100%;
    object-fit: cover;
    border-radius: 15px;
    border: 2px solid wheat;
    transition: ease-in-out 2s;
    transition-delay: 1s;
    transition-timing-function: ease;
    cursor: pointer;
}
.gallery img:hover{
    width: 100%;
}