*{
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", serif;
    /* font-weight: 100; */
}
.main_box{
    background: url(photo.jpg);
    height: 100vh;
    background-size: cover;
}
#check{
    display: none;
}
.main_box .btn_one {
    color: white;
    font-size: 31px;
    font-weight: 400;
    position: absolute;
    /* left: 180px; */
    line-height: 1.5;
    /* top: 22px; */
    margin-left: 5px;
}
.sidebar_menu{
    height: 100%;
    width: 15.5%;
    position: absolute;
    left: -320px;
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 0 0 2px white;
    transition: all 0.3s linear;
}
.sidebar_menu .logo{
    position: absolute;
    width: 100%;
    line-height: 40px;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.3);
}

.sidebar_menu .btn_two{
    color: grey;
    font-size: 31px;
    font-weight: 400;
    position: absolute;
    left: 182px;
    line-height: 1.5;
    /* top: -3px; */
}
.sidebar_menu .menu{
    position: absolute;
    
    width: 100%;
    top: 60px;   
}

.sidebar_menu .menu ul li,a{
    /* line-height: 1.5; */
    padding: 15px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    left: 40px;
    /* top: 0; */
    cursor: pointer;
}

.sidebar_menu .logo a{
    position: absolute;
    left: 10px;
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    top: -11px;
}
.social_media{
    position: absolute;
    bottom: 50px;
    /* margin: auto; */
    left: 25px;
}
.social_media a{
    font-size: 15px;
    color: white;
    opacity: 0.6;
}

.menu ul li:hover{
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.3);
    font-size: 22px;
}

.social_media a:hover{
    font-size: 17px;
    opacity: 1;
}

.sidebar_menu .btn_two i:hover{
    color: wheat;
    cursor: pointer;
    font-size: 32px;
}

.btn_one i:hover{
    color: wheat;
    cursor: pointer;
    font-size: 32px;
}

#check:checked ~ .sidebar_menu{
    left: 0 ;
}
#check:checked ~ .btn_one{
    display: none;
}
