<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    
    <h1>This is home page</h1>
    <h2>1+2 = <%- 1+2 %></h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium obcaecati eaque quam, debitis illum et expedita similique sint consectetur quaerat perferendis commodi minus dicta totam delectus natus porro culpa iusto.</p>

    <button>click me</button>
</body>
</html>